@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@import "daisyui";
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.css";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  @apply bg-white text-gray-900;
  font-family: "Montserrat", sans-serif ;
}